<% provide(:title, 'Employer Introduction Site - About') %>


<div class="jumbotron" style="background:#FFFFE0 !important">

<h1>About Mark Hanna</h1>
<p>
  I will fill this out later. Edit with ...
</p>


</div>