<% provide(:title, 'Employer Introduction Site - AWS') %>

<div class="jumbotron" style="background:#FFFFE0 !important">

  <h3 align="center" style="color:#000000">Amazon Web Services</h3>

  <p align="justify">The purpose of this site is to demonstrate proficiency in cloud administration and Ruby on Rails.
    In this case the cloud is Amazon Web Services.</p>

  <p align="justify">This Ruby on Rails application is hosted on an Ubuntu 14.04.2 LTS (GNU/Linux 3.13.0-48-generic
    x86_64) EC2 instance. The native AWS instance domain name is
    <a href="http://ec2-52-7-56-224.compute-1.amazonaws.com/mission" style="color:#000000">http://ec2-52-7-56-224.compute-1.amazonaws.com</a>.
    The <a href="http://actually-qualified.com/mission" style="color:#000000; text-decoration: underline;">http://actually-qualified.com</a>
    domain name is routed
    using AWS "Route 53" service. Being able to click on a link whose top level domain is amazonaws.com proves
    that the site is hosted on the Amazon AWS cloud service.
  </p>

  <h3 align="center" style="color:#000000">I Love Amazon Web Services.</h3>

  <p align="justify">AWS is the wave of the future. Hosting your own computers is no longer the way to go.</p>

  <p align="justify">Cloud Case Study ... Zynga and Amazon Web Services</p>

  <p align="justify">Zynga is a massive online game site.

    In 2012 Zynga moved from a pure public cloud model using AWS,
    to a hybrid model called zCloud.
    Zynga chose to complement (i.e. mostly replace) Amazon with its own internal data center.
    Regardless of the company, industry or vertical Zynga's zCloud was a massive-scale operation.
    Zynga thought they would realize significant management efficiencies and substantially
    reduced costs from zCloud.</p>

  <p align="justify">To set some context around the massive scale we are talking about, here are some pretty
    incredible business metrics around the adoption of Zynga and social gaming.

  <ul>
    <li>Zynga has >250m monthly active users globally.
    <li>It has developed seven of the top 10 games on Facebook.
    <li>Five new players join Zynga every second.
    <li>Ten percent of the world's Internet population plays Zynga games every month.
    <li>Cityville went from 0 to 100m users in 40 days.
    <li>If Farmville were a country, it would be the fifth largest in the world.
    <li>One in five Americans play social games.
    <li>Farmville was the inflection point in Zynga's business. The game grew to 25m daus (daily active users) in five
      months.
    <li>RightScale is a very important component of the infrastructure, across both the public and private cloud
      implementations, for scale, flexability, provisioning and monitoring.
    <li>Zynga built it's own private cloud, the zCloud (internal Zynga private cloud):
    <li>When the game growth slope is vertical, it can’t build fast enough.
    <li>When growth is less than vertical, it can build the system to meet this demand.
    <li>zCloud uses industry-standard servers and hypervisors (xen, kvm).
    <li>zCloud creates Amazon-like security zones.
    <li>zCloud's infrastructure is integrated with RightScale.
    <li>The zCloud works on an IP routed network and is required to automatically scale,
      it just doesn’t scale on layer 2 switches.
  </ul>
  <h3 align="center" style="color:#000000">2015 Zynga dismantles zCloud</h3>

  <p align="justify">
    In May 2015 it was announced that after spending over $100 million dollars Zynga is abandoning their own data
    centers. Zynga is moving back to 100% Amazon Web Services as a cost cutting move. This move unfortunately
    will cost over 300 people their jobs at Zynga.
    Zynga is now considered the poster child for Amazon Web Services client retention efforts.

  </p>

  <p align="justify">
    If your company is already using Amazon Web Services then you made a very smart choice.
    If not and you are now thinking about it. I would
    love to help you in the transition and operation of your cloud based solutions.
  </p>

  <p align="justify">The link in the lower left corner of this page will lead you to the latest news about Amazon Web
    Services</p>

  <br><br><br>Zynga facts were taken from the various web sources including ...&nbsp;http://www.datacenterdynamics.com/app-cloud/zynga-abandons-data-centers-returns-to-aws/93952.fullarticle

</div>