<% provide(:title, 'Employer Introduction Site - Use The Right Tool for the Job') %>

<div class="jumbotron" style="background:#5C81AB !important">

  <h3 align="center" style="color:#000000">Use The Right Tool for the Job</h3>

  <p align=left>Our brains are impressive at cracking codes.</p>

  <p align=justify>We use context to pre-activate the areas of our brains that correspond to what we expect next.</p>

  <p align=justify>You might not realize it, but your brain is a code-cracking machine.</p>

  <pre>

    For emaxlpe, it deson't mttaer in waht oredr the ltteers in a wrod aepapr,
    the olny iprmoatnt tihng is taht the frist and lsat ltteer are in the rghit pcale.
    The rset can be a toatl mses and you can sitll raed it wouthit pobelrm.

    S1M1L4RLY, Y0UR M1ND 15 R34D1NG 7H15 4U70M471C4LLY W17H0U7 3V3N 7H1NK1NG 4B0U7 17.

  </pre>

  <p align=justify>Passages like these have been bouncing around the Internet for years. But how do we read them? And
    what do our incredibly low standards for what's legible say about the way our brains work? It shows that you have
    been reading the english language for a very long time and you sort of know what context words are used in.</p>

  <p align=justify>Computer coding is very simular. After a long while a it all looks sort of the same.</p>

  <h1><%= link_to 'In order to see just how simular Click Here', simular_path, id: 'pagelink1' %></h1>

  <br><br><br><br><br><br><br><br>

</div>