<% provide(:title, 'Employer Introduction Site - Contact') %>

<h1>Contact Info</h1>


<h3 align="center" style="color:#000000">Mark Hanna</h3>
<h3 align="center" style="color:#000000">5072 Springdale Road</h3>
<h3 align="center" style="color:#000000">Cincinnati, Ohio 45251</h3>
<h3 align="center" style="color:#000000">Cell: (513) 570-7683</h3>
<h3 align="center" style="color:#000000">Email: <a href="mailto:mhanna500@gmail.com">mhanna500@gmail.com</a></h3>
<h3 align="center" style="color:#000000">
  <a href="https://www.linkedin.com/in/actuallyqualified" target="_new"><%= image_tag "Linkedin-logo.png" %></a></h3>

  <h3 align="center" style="color:#000000">
    <a href="https://www.linkedin.com/in/actuallyqualified" target="_new">http://Linkedin.com/in/actuallyqualified</a></h3>

