<% provide(:title, 'Employer Introduction Site - Help') %>

<div class="center jumbotron"  style="background:#5C81AB !important" >
  <BR>
  <h1>Help Page</h1>

<p>
  This is the help page for the Employer Introduction Site
</p>

</div>