<% provide(:title, 'Employer Introduction Site - Help') %>

<div class="center jumbotron"  style="background:#5C81AB !important" >
  <BR>
  <h1>Help Page</h1>
  
 <p>The purpose for this website is to prove my
  proficiency in both Ruby, Ruby on Rails and
  the cloud adminstration, in this case Amazon Web Services.</p>

  <p>The main reason for employers to login is to demonstrate both
  web site access control, user authentication and email address verification,
  in combination with my mySQL database storage of users.</p>
  <p>Used in this application were, Ruby, Ruby on Rails, using a mySQL database implementation.
  <p>The gems used in this application are aws-sdk, aws-ses, bcrypt, bootstrap-sass,
    bootstrap-will_paginate, coffee-rails, faker, figaro, guard-minitest, jbuilder, jquery-rails,
    json, mini_backtrace, minitest-reporters, mysql3, rails,
    rspec, sass-rails, sdoc, spring, turbolinks, uglifier, web-consol, and will_paginate</p>
  <p>The mysql database used is hosted using Amazon's remote RDS services.</p>
  <p>The app is hosted on a Ubuntu EC2 instance. The native AWS instance domain name is http://ec2-52-7-56-224.compute-1.amazonaws.com . The http://actually-qualified.com domain name is routed using AWS "Route 53" service.</p>


</div>