<% provide(:title, 'Employer Introduction Site - Help') %>


<script type="text/javascript" language="JavaScript">
    function pgClock() {
        var sTime=(new Date()).toString();
        document.getElementById('clockid2').innerHTML =
                sTime.substring(0,3+sTime.lastIndexOf(':'));
        setTimeout('pgClock()',333);
    }
    pgClock();

    function sbClock() {
        var sTime=(new Date()).toString();
        self.status=sTime.substring(0,3+sTime.lastIndexOf(':'));
        setTimeout('sbClock()',333);
    }
    sbClock();
</script>



<h1></h1>

<blockquote>
  <div id=clockid2>&nbsp;</div>
</blockquote>


<p>
  This is the help page for the Employer Introduction Site
</p>
