<% provide(:title, 'Employer Introduction Site - Home') %>

<div class="center jumbotron">
  <br>
  <h1>Employer Introduction Website</h1>
  <h3>hosted on</h3>
  <h1>Amazon Web Services</h1>

  <br>
    Hi, I am Mark Hanna and I am looking for an exciting employment opportunity.<br>
  <br> 

  <%= link_to "Employers Please Register!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
