<% provide(:title, 'Employer Introduction Site - Not All Languages Do Everything Well') %>

<div class="jumbotron" style="background:#5C81AB !important">

  <h3 align="center" style="color:#000000">Not All Languages Do Everything Well</h3>

  <h1>The different types of languages</h1>

  <p align=justify>
    Not just any computer programming language can do everything well.
    There are limitations, and actually, different languages are best used for different tasks.
  </p>

  <p class="tutSpec">
    This explanation focuses on:
  </p>

  <ul class="tutOutline">
    <li><span class="outline">Web languages</span></li>
    <li><span class="outline">Software languages</span></li>
    <li><span class="outline">Procedure oriented programming</span></li>
    <li><span class="outline">Object oriented programming</span></li>
  </ul>


  <h1 style="color:#000000">Web languages</h1>

  <p align=justify>
    Used for creating and editing pages on the web. Can do anything from putting plain text on a webpage, to accessing
    and retrieving data from a database. Vary greatly in terms of power and complexity.
  </p>

  <ul class="instructions">
    <li>
      <span class="data">HTML</span>
      <br/>
      Hyper Text Markup Language. The core language of the world wide web that is used to define the structure and
      layout of web pages by using various tags and attributes. Although a fundamental language of the web,
      HTML is static - content created with it does not change. HTML is used to specify the content a webpage
      will contain, not how the page functions. Learn HTML at our HTML tutorials section.
    </li>

    <li>
      <span class="data">XML</span>
      <br/>
      Extensible Markup Language. A language developed by the W3C which works like HTML, but unlike HTML,
      allows for custom tags that are defined by programmers. XML allows for the transmission of data between
      applications and organizations through the use of its custom tags.
    </li>

    <li>
      <span class="data">Javascript</span>
      <br/>
      A language developed by Netscape used to provide dynamic and interactive content on webpages.
      With Javascript it is possible to communicate with HTML, create animations, create calculators,
      validate forms, and more. Javascript is often confused with Java, but they are two different languages.

    </li>

    <li>
      <span class="data">VBScript</span>
      <br/>
      Visual Basic Scripting Edition. A language developed by Microsoft that works only in Microsoft's
      Internet Explorer web browser and web browsers based on the Internet Explorer engine such as
      FlashPeak's Slim Browser. VBScript Can be used to print dates, make calculations, interact with
      the user, and more. VBScript is based on Visual Basic, but it is much simpler. Learn VBScript at our
      VBScript tutorials section.
    </li>

    <li>
      <span class="data">PHP</span>
      <br/>
      Hypertext Preprocessor (it's a recursive acronym). A powerful language used for many tasks such as
      data encryption, database access, and form validation. PHP was originally created in 1994 By
      Rasmus Lerdorf.
    </li>

    <li>
      <span class="data">Java</span>
      <br/>
      A powerful and flexible language created by Sun MicroSystems that can be used to create applets
      (a program that is executed from within another program) that run inside webpages as well as software
      applications. Things you can do with Java include interacting with the user, creating graphical programs,
      reading from files, and more. Java is often confused with Javascript, but they are two different languages.
    </li>

    <li>
      <span class="data">Rails ... Ruby on Rails</span>
      <br/>
      Ruby on Rails, or simply Rails, is an open source web application framework written in Ruby. Rails is a model–view–controller
      (MVC) framework, providing default structures for a database, a web service, and web pages. It encourages and facilitates
      the use of web standards such as XML or JSON for data transfer, and HTML, CSS and JavaScript for display and user interfacing.
      In addition to MVC, Rails emphasizes the use of other well-known software engineering patterns and paradigms, including convention
      over configuration (CoC), don't repeat yourself (DRY), and the active record pattern.<br>
      David Heinemeier Hansson extracted Ruby on Rails from his work on the project management tool Basecamp at the web application
      company also called Basecamp.[4] Hansson first released Rails as open source in July 2004, but did not share commit rights to the
      project until February 2005.[5] In August 2006, the framework reached a milestone when Apple announced that it would ship
      Ruby on Rails with Mac OS X v10.5 "Leopard", which was released in October 2007. I use Ruby on Rails for http://Actually-Qualified.com
      <br>
      Rails running on Matz's Ruby Interpreter (the de facto reference interpreter for Ruby) had been criticized for issues with scalability.
      These critics often mentioned various Twitter outages in 2007 and 2008, which spurred Twitter's partial transition to Scala
      (which runs on the Java Virtual Machine) for their queueing system and other middleware.
      The user interface aspects of the site continued to run Ruby on Rails until 2011 when it was replaced due to
      concerns over performance on extremely large sites. If your site is Twitter size skip Rails.
      <br>
      In 2011, Gartner Research noted that despite criticisms and comparisons to Java, many high-profile consumer web firms
      are using Ruby on Rails to build agile, scalable web applications. Some of the largest sites running Ruby on Rails
      include GitHub, Yammer, Scribd, Shopify, Hulu, and Basecamp.
      As of May 2014, it is estimated that more than 600,000 web sites are running Ruby on Rails.
    </li>

    <li>
      <span class="data"></span>
      <br/>
    </li>
  </ul>


  <h1 style="color:#000000">Software languages</h1>

  <p align=justify>
    Used for creating executable programs. Can create anything from simple console programs that print some text to the
    screen to entire operating systems. Vary greatly in terms of power and complexity.
  </p>

  <ul class="instructions">
    <li>
      <span class="data">C</span>
      <br/>
      An advanced programming language used for software application development. Originally developed by Dennis Ritchie
      at Bell Labs in the 1970's and designed to be a systems programming language but since then has proven itself to
      be able to be used for various software applications such as business programs, engineering programs, and even
      games. The UNIX operating system is written in C.
    </li>

    <li>
      <span class="data">C++</span>
      <br/>
      Descendant of the C language. The difference between the two languages is that C++ is object-oriented. C++ was
      developed by Bjarne Stroustrup at Bell Labs and is a very popular language for graphical applications.
    </li>

    <li>
      <span class="data">Visual Basic</span>
      <br/>
      A language developed by Microsoft based on the BASIC language . Visual Basic is used for creating Windows
      applications. The VBScript language (also developed by Microsoft) is based on Visual Basic.
    </li>


    <li>
      <span class="data">Java</span>
      <br/>
      A powerful and flexible language created by Sun MicroSystems that can be used to create applets (a program that is
      executed from within another program) that run inside webpages as well as software applications. Things you can do
      with Java include interacting with the user, creating graphical programs, reading from files, and more. Java is
      often confused with Javascript, but they are two different languages. Learn Java at our Java tutorials section.
    </li>


    <li>
      <span class="data">PERL</span>
      <br/>
      Perl is a programming language developed by Larry Wall in 1987, especially designed for text processing.
      It stands for Practical Extraction and Report Language. It runs on a variety of platforms, such as
      Windows, Mac OS, and the various versions of UNIX.
      The Perl languages borrow features from other programming languages including C, shell scripting (sh),
      AWK, and sed.[8] They provide powerful text processing facilities without the arbitrary data-length
      limits of many contemporary Unix commandline tools,[9] facilitating easy manipulation of text files.
      Perl 5 gained widespread popularity in the late 1990s as a CGI scripting language, in part due to its
      unsurpassed regular expression and string parsing abilities. In addition to CGI, Perl 5 is used for
      graphics programming, system administration, network programming, finance, bioinformatics, and other
      applications.
      It has been nicknamed "the Swiss Army chainsaw of scripting languages" because of its
      flexibility and power, and possibly also because of its "ugliness".
      In 1998, it was also referred to as the "duct tape that holds the Internet together",
      in reference to both its ubiquitous use as a glue language and its perceived inelegance.
      I personally have written thousands of lines of PERL and it gets the job done.
    </li>

    <li>
      <span class="data">RUBY (not to be confused with Ruby on Rails)</span>
      <br/>
      Ruby is a dynamic, reflective, object-oriented, general-purpose programming language.
      It was designed and developed in the 1993 and released in 1995  by Yukihiro "Matz" Matsumoto in Japan.
      According to its authors, Ruby was influenced by Perl, Smalltalk, Eiffel, Ada, and Lisp.
      It supports multiple programming paradigms, including functional, object-oriented, and imperative.
      It also has a dynamic type system and automatic memory management.
      Matsumoto has said that Ruby is designed for programmer productivity and fun, following the principles of good user interface design.
      Ruby is said to follow the principle of least astonishment (POLA), meaning that the language should behave in such a way as to
      minimize confusion for experienced users. Matsumoto has said his primary design goal was to make a language that he himself enjoyed
      using, by minimizing programmer work and possible confusion. He has said that he had not applied the principle of least astonishment
      to the design of Ruby. I personally love Ruby.
    </li>
  </ul>


  <h1 style="color:#000000">Procedure-oriented programming</h1>

  <p align=justify>
    A type of programming where a structured method of creating programs is used. With procedure-oriented programming, a
    problem is broken up into parts and each part is then broken up into further parts. All these parts are known as
    procedures . They are separate but work together when needed. A main program centrally controls them all.
  </p>

  <p align=justify>
    Some procedure-oriented languages are COBOL, FORTRAN, and C.
  </p>

  <h1 style="color:#000000">Object oriented programming</h1>

  <p align=justify>
    A type of programming where data types representing data structures are defined by the programmer as well as their
    properties and the things that can be done with them. With object-oriented programming, programmers can also create
    relationships between data structures and create new data types based on existing ones by having one data type
    inherit characteristics from another one.
  </p>

  <p align=justify>
    In object-oriented programming, data types defined by the programmer are called classes (templates for a real world
    object to be used in a program). For example, a programmer can create a data type that represents a car - a car
    class. This class can contain the properties of a car (color, model, year, etc.) and functions that specify what the
    car does (drive, reverse, stop, etc.)
  </p>

  <p align=justify>
    Some object-oriented languages include C++, Java, Ruby, and PHP. In Ruby for example everything is a object, even
    arithmetic operators like the + (plus sign) for addition is actally an object.
  </p>



<h1>Experience takes time to Acquire</h1>

<br><br><br>

</div>