<% provide(:title, 'Employer Introduction Site - Mission') %>

<div class="jumbotron"  style="background:#5C81AB !important" >
  <BR>
  <h3>Mission Statement</h3>

 <p align="justify">This site to demonstrate proficiency in both Ruby, Ruby on Rails and
  cloud adminstration. In this case the cloud is Amazon Web Services.</p>

  <p align="justify">The main reason for employers to login is to demonstrate both
  web site access control, user authentication and email address verification,
  in combination with the mySQL database storage of users.</p>

  <p align="justify">Used in this application were, Ruby, Ruby on Rails with a remote cloud hosted
    mySQL database implementation using RDS on AWS. This means your development system and your
    production system can be hosted in a common cloud location.</p>

  <p align="justify">The gems used in this application are aws-sdk, aws-ses, bcrypt, bootstrap-sass,
    bootstrap-will_paginate, coffee-rails, faker, figaro, guard-minitest, jbuilder, jquery-rails,
    json, mini_backtrace, minitest-reporters, mysql3, rails,
    rspec, sass-rails, sdoc, spring, turbolinks, uglifier, web-consol, and will_paginate</p>

  <p align="justify">The app is hosted on a Ubuntu EC2 instance. The native AWS instance domain name is http://ec2-52-7-56-224.compute-1.amazonaws.com . The http://actually-qualified.com domain name is routed using AWS "Route 53" service.</p>


</div>