<% provide(:title, 'Employer Introduction Site - Mission') %>

<div class="jumbotron" style="background:#5C81AB !important">
  <BR>

  <h3 align="" center">Mission Statement</h3>

  <p align="justify">The mission of this site is to demonstrate proficiency in both Ruby, Ruby on Rails and
    cloud adminstration. In this case the cloud is Amazon Web Services.</p>

  <p align="justify">The main reason for employers to login is to demonstrate both
    web site access control, user authentication and email address verification,
    in combination with the mySQL database storage of users.</p>

  <p align="justify">Used in this application were, Ruby, Ruby on Rails with a remote cloud hosted
    mySQL database implementation using RDS on AWS. This means your development system and your
    production system can be hosted in a common cloud location.</p>

  <p align="justify">The gems used in this application are aws-sdk, aws-ses, bcrypt, bootstrap-sass,
    bootstrap-will_paginate, coffee-rails, faker, figaro, guard-minitest, jbuilder, jquery-rails,
    json, mini_backtrace, minitest-reporters, mysql3, rails,
    rspec, sass-rails, sdoc, spring, turbolinks, uglifier, web-consol, and will_paginate</p>

  <p align="justify">The app is hosted on a Ubuntu EC2 instance. The native AWS instance domain name is
    <a href="http://ec2-52-7-56-224.compute-1.amazonaws.com/mission">http://ec2-52-7-56-224.compute-1.amazonaws.com</a>.
    The <a href="http://actually-qualified.com/mission">http://actually-qualified.com</a> domain name is routed
    using AWS "Route 53" service. Being able to click on a link whose top level domain is amazonaws.com proves
    that the site is hosted on the Amazon AWS cloud service.
  </p>

  <h3 align="center">I love Amazon Web Services.</h3>
  <p align="justify"> AWS is the wave of the future.
    Zynga is a huge online game site. Zynga is considered the poster child for a company that in 2012
    moved from a pure public cloud model, using AWS to a hybrid model, choosing to complement
    Amazon with its own internal data center. Regardless of the company, industry or vertical,
    this is a massive-scale operation that is realizing significant management efficiencies.
    To set some context around the levels of scale we are talking about, here are some pretty
    incredible business metrics around the adoption of Zynga and social gaming.

  <ul>
    <li>Zynga has >250m monthly active users globally.
    <li>It has developed seven of the top 10 games on Facebook.
    <li>Five new players join Zynga every second.
    <li>Ten percent of the world's Internet population plays Zynga games every month.
    <li>Cityville went from 0 to 100m users in 40 days.
    <li>If Farmville were a country, it would be fifth largest in the world.
    <li>One in five Americans play social games.
    <li>Farmville was the inflection point in the business. The game grew to 25m daus (daily active users) in five
      months.
    <li>RightScale is a very important component of the infrastructure, across both the public and private cloud
      implementations, for scale, flexability, provisioning and monitoring.
    <li>It built own private cloud, the zCloud (internal Zynga private cloud):
    <li>When the game growth slope is vertical, it can’t build fast enough.
    <li>When growth is less than vertical, it can build the system to meet this demand.
    <li>It uses industry-standard servers and hypervisors (xen, kvm).
    <li>It creates Amazon-like security zones.
    <li>It's infrastructure is integrated with RightScale.
    <li>The zCloud works on an IP routed network and is required to scale, it just doesn’t scale on layer 2 switches.
  </ul>
  <h3>Classic Mistake</h3>

  <p align="justify">Zynga used AWS exclusively, but thought they could do
    better (i.e. save money) with their own hybrid center.</p>

  <p align="justify">
    In May 2015 it was announced that after spending $100 million dollars Zynga is abandoning their own data
    centers and moving back to Amazon Web Services. The move will cost over 300 people their jobs at Zynga.
    see
    http://www.datacenterdynamics.com/app-cloud/zynga-abandons-data-centers-returns-to-aws/93952.fullarticle
  </p>

  <p>
    If your company is already using Amazon Web Services, then you made a smart move.
    If not and you were thinking about it. Good thinking and I would
    love to help you in the transition and operation of your cloud based solutions.
  </p>

</div>