<p>Hi <%= @user.name.titleize %>,</p>

<p>
  My name is Mark Hanna.
  I set up this web site to demonstrate my proficiency with several technologies.<BR>
  I hosted this site in the cloud on AWS.<BR>
  Please take the tour by clicking on the links in the upper right hand corner.
  <--
  The Amazon Web Services Domain Name is <%= Figaro.env.AWS_domain_name %>  <br>
  -->

  Click on the link below to activate your account:
</p>
<br>

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>



