<h1>Employee Introduction Site</h1>

<p>Hi <%= @user.name %>,</p>

<p>
  My name is Mark Hanna.
  I set up this web site to demonstrate my proficiency with several technologies.
  I hosted this site in the cloud on AWS. The Amazon Web Services Domain Name is <%= Figaro.env.domain_name %>  <br>

  Click on the link below to activate your account:
</p>
<br>
<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>

