<h1>Sample App</h1>

<p>Hi <%= @user.name %>,</p>

Hello<BR>
<p>
  My name is Mark Hanna.
  I set up this web site to demonstrate my familiarity with a range of technologies.
  I hosted this site in the cloud.
  It is hosted on AWS and it's Amazon Web Services (sub) Domain Name is <%= Figaro.env.domain_name %>  <br>

  Click on the link below to activate your account:
</p>
<br>
<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>

