<% provide(:title, @user.name.titleize) %>

<div class="jumbotron" style="background:#FFFFE0 !important">

  <table align="center" style="width: 90%">
    <tr>
      <td>

        <p>
          Welcome <%= @user.name.titleize %>
        </p>

        <p>
          As I mentioned in the email, I set up this web site to demonstrate my proficiency with several
          technologies.
        </p>

        <p>
          This site is hosted in the AWS cloud.
        </p>

        <p>
          The site includes a basic Users resource using standard REST actions,
          together with a flexible authentication and authorization system.
          The site also employs two closely related features: account activation
          (which verifies a new user’s email address) and password reset
          (for users who forget their passwords). To accomplish this the site
          sends email in Rails. Finally, the two features complement each other
          nicely password resets involve sending a reset link to a user’s
          email address, the validity of which is confirmed by the initial account activation.
        </p>

        <p>
          User accounts which have not had their email validated are not activated and
          prohibited from entry into the protected areas of the website.
        </p>

        <p>
          Click on the links in the upper right hand corner to take a tour.
          Start by clicking Mission and work your way to the right. Now that you
          have registered and logged in you will see that an extra drop down
          menu "Use The Right Tools" is available.
        </p>

      </td>
    </tr>
  </table>

</div>
