<% provide(:title, @user.name) %>

<table align="center" style="width: 800px"><tr><td>

  <aside class="col-md-4">
  <section class="user_info">Welcome <%= @user.name %></section>
</aside>

<p align="justify" font-size: 10pt; font-family: "Times New Roman", Times, serif; line-height: 16pt; >
  <br><br><br>
  As I mentioned in the email, I set up this web site to demonstrate my proficiency with several technologies.<BR>
</p>

<p align="justify" font-size: 10pt; font-family: "Times New Roman", Times, serif; line-height: 16pt; >>
  This site is hosted in the AWS cloud.<BR>

  The site includes a basic Users resource using standard REST actions,
  together with a flexible authentication and authorization system.
  The site also employs two closely related features: account activation
  (which verifies a new user’s email address) and password reset
  (for users who forget their passwords). To accomplish this the site
  sends email in Rails. Finally, the two features complement each other
  nicely password resets involve sending a reset link to a user’s
  email address, the validity of which is confirmed by the initial account activation.

  User accounts which have not had their email validated are not activated and
  prohibited from entry into the protected areas of the website.<br>

  <br>
  Click on the links in the upper right hand corner to take a tour.

</p>
<br>

  </td></tr>
</table>


