<footer class="footer">
  <small>
    The <a href="https://safe-inlet-6963.herokuapp.com/">Ruby on Rails App</a>
    by <a href="http://www.mark-hanna.com/">Mark Hanna</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
/*    <li><a href="http://news.railstutorial.org/">News</a></li>  */
    </ul>
  </nav>
</footer>
