<footer class="footer">
  <small>
  <a href="https://www.google.com/#tbm=nws&q=Amazon+Web+Services">The Latest News about Amazon Web Services</a>

  </small>
  <nav>
    <ul>
      <!--
      <li><%= link_to "About Mark Hanna",   about_path %> &nbsp;&nbsp;| </li>
      -->

      <li><%= link_to "Contact Mark Hanna", contact_path %></li>

    </ul>
  </nav>
</footer>
